@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Eliza</h1>
    <p>The Best cooking assistant ever made!</p>
     <p>Cooking was never so simple.</p>
</div>
